<launch>

	<!-- Parameters -->
	<param name="foveated" value="0" />
	<param name="sampling value" value="0" />

	<!-- Point cloud node -->
	<node pkg="ug_stereomatcher" type="UGpoint_cloud" name="UGpoint_cloud" output="log">
	</node>

	<!-- GPU stereo matcher -->
	<node pkg="ug_stereomatcher" type="UG_matcher_gpu" name="UG_matcher_gpu" output="log">
	</node>

</launch>

